h1 {
    font-size:60px;
    color: white;
    text-align: center;
   
}

ul {
    font-size:35px;
    text-align: center;
    list-style: inside;
}

ul li {
    padding: 10px;
}


.box {
    background-image:url(img/picture.jpg);
    padding: 200px 100px;
    margin: 100px;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: 400% 400%;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
}

tr th {
    font-size: 50px;
    color: white;
    
}

tr td {
    font-size: 25px;
    padding: 15px;
    text-align: center;
}