.bar{
    margin-left: 15px;
    margin-bottom: 30px;
    height: 30px;
    border: none;
    font-size: 16px;
    outline: none;
    margin: 10 auto;
    width: 200px;
    border-radius: 30px;
    border: 1px solid #dcdcdc;
    text-align: center;
}

#output{
    margin-left: 15px;
    margin-bottom: 30px;
    height: 30px;
    border: none;
    font-size: 16px;
    outline: none;
    margin: 10 auto;
    width: 600px;
    border-radius: 30px;
    border: 1px solid #dcdcdc;
    text-align: center;
}

#return {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  