*{
    font-family: 'Urbanist', sans-serif;
}

body{
   background-color: honeydew;
}

header h1{
    text-align: center;
}

nav{
    text-align: center;
}

form{
    padding-bottom: 20px;
}

#return{
    position: absolute;
    top: 10px;
    right: 10px;
}

.buttons{
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}