*{
    margin: 0;
}

html{
    background: rgb(20,23,26);
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
}

body{
    width: 60em;
    height: 100vh;
    border: 2px solid black;
    margin: auto;
    background: black;
}



/*Header*/
header h1{
    margin-top: 1.5em;
    font-size: 2em;
}

#return {
    position: absolute;
    top: .625em;
    right: .625em;
}



/*Section*/
section form{
    margin-top: 4em;   
    margin-bottom: 5em; 
}

#error{
    margin-top: 2em;
}

#results h2, p{
    margin-top: 1.5em;
}

#results h2{
    font-size: 1.25em;
}

#results h2 p{
    font-size: 1em;
}

#textareaContainer{
    margin-top: 3em;
}

#textarea{
    width: 30em;
    height: 13em;
    background: white;
}