h1{
    padding-top: 10px;
}

h2{
    padding-top: 20px;
}

label{
    padding-right: 10px;
}

ul{
    list-style: none;
}

.itemsStyle{
    width: 100px;
    height: 30px;
}

.buttons{
    padding-left: 40px;
    padding-bottom: 30px;
}

table{
    width: 600px;
}

#item{
    text-align: left;
}

table, th, td{
    border: 1px solid black;
}

.total{
    width: 150px;
}

.test{
    width: 300px;
    text-align: center;
    color: red;
    border-style: none;
}

#return {
    position: absolute;
    top: 10px;
    right: 10px;
  }
