body{
    background: cornsilk;
}

h1 {
    font-size: 50px;
    text-align: center;
}

#return {
    position: absolute;
    top: .625em;
    right: .625em;
  }

.buttons{
    padding-top:  3.125em;
    padding-bottom: 1.875em;
    text-align: center;
}