h1 {
    font-size: 50px;
    text-align: center;
}

#return {
    position: absolute;
    top: 10px;
    right: 10px;
  }

.buttons{
    padding-top:  50px;
    padding-bottom: 30px;
}
