*{
    margin: 0;
}

header{
    text-align: center;
    border-bottom: 1px solid  	#C0C0C0;
}

img{
    height: 100px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

html{
    background: rgb(20,23,26);
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
}

body{
    width: 60em;
    height: 100vh;
    border: 2px solid #202020;
    margin: auto;
    background: #282828;
}



/*Header*/
#return {
    position: absolute;
    top: .625em;
    right: .625em;
}



/*Section*/
form div{
    padding-top: 4em;
}

#input{
    width: 30em;
    height: 15em;
    margin-top: .5em;
}

#output{
    background: white;
    width: 25%;
}

#outputContainer{
    border-bottom: 1px solid  	#C0C0C0;
    border-bottom: 1px solid  	#C0C0C0;
    padding-bottom: 5rem;
}

label{
    margin: auto;
}