/*---------- All ----------*/
*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body{
    background-color: rgb(225, 232, 237);
}



/*---------- Header ----------*/
header{
    text-align: center;
}

.logo-container{
    width: 100%;
    height: 250px;
    position: relative;
    color: #fff;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #4f23d5, #6123d5);
    background-size: 400% 400%;
    position: relative;
    animation: change 7.25s ease-in-out infinite;
}

@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.logo{
    margin: 7.5px auto;
}



/*---------- Main ----------*/
main{
    margin: 2% 7%;
    background-color: rgb(244, 246, 248);
    box-shadow: 5px 10px 5px 10px #888888;
    max-height: 574px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    
}

.tiles{
    flex: 1 0 30%; /* explanation below */
    margin: 10px;
    max-height: 500px;
    background: linear-gradient(-45deg, #28313b, #28313b, #28313b, #28313bdc); 
    text-align: center;
}

.tiles:hover{
    background: linear-gradient(-45deg, #080808, #171717, #262626, #363636);
    background-size: 400% 400%;
    animation: change 3s ease-in-out infinite;
    cursor: pointer;
}

.tiles > img{
    margin: 20px auto;
    max-height: 200px;
    max-width: 200px;
}

.tile-logo > img{
    max-height:300px;
    max-width: 300px;
}



/* ----- Popups ----- */
.popups{
    visibility: hidden;
    position: relative;
    top: -350px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1092px;
    height: 593px;
}

.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;   
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 46px;
    padding-right: 46px;
    background-color: #282828;
}

.step-text{
    font-weight: 700;
    text-align: center;
    max-width: 1000px;
    padding-bottom: 10px;
}

.prev, .next{
    position: absolute;
    top: 45%;
    width: auto;
    padding: 16px;
    color: white;
    border: 2px solid white;
    background: #696969;
    font-weight: bold;
    font-size: 24px;
    border-radius: 0 3px 3px 0;
}

.prev{
    left: 0;
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #4f23d5, #6123d5);
    background-size: 400% 400%;
    animation: change 3s ease-in-out infinite;
    cursor: pointer;
}

.skip-button-container{
    text-align: center;
    position: absolute;
    margin-top: 10px;
    bottom: -10px;
    left: 50%;    
    transform: translate(-50%);
    
    
}

.skip-button{
    width: 130px;
    font-weight: 700;
    margin-top: 10px;
    height: 30px;
    border: 2px solid white;
    border-radius: 25px;
    background: #696969;
}

.skip-button:hover{
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #4f23d5, #6123d5);
    background-size: 400% 400%;
    animation: change 3s ease-in-out infinite;
    cursor: pointer;
}

/*---------- Footer ----------*/
footer{
    text-align: center;
    color: rgb(244, 246, 248);
}


/*---------- Cross Browser ----------*/

.step-number{
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 30px;
    font-stretch: ultra-expanded;
    font-style: oblique;
    font-weight: 900;
    margin-top: -20px;
    margin-bottom: 10px;
    letter-spacing: .05em;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}